body {
    background-color: #f5f5f5;
    padding: 2px;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
    text-align: center;
}
table, th, td {
    border: 1px solid dimgrey;
    border-collapse: separate;
    border-spacing: 2px;
    padding: 2px;
    text-align: center;
}